  <ons-page fixed-style>
    <ons-toolbar fixed-style>
      <div class="left">
        <ons-toolbar-button (click)=slidingMenu.openMenu()>
          <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        {{title}}
      </div>
      <div class="right">
        <ons-button modifier="quiet" (click)="myNavigator.pushPage('additem.html')">
            New <ons-icon icon="fa-plus-circle" class=""></ons-icon>
        </ons-button>
      </div>
     <!-- <div class="right">
        <ons-toolbar-button><a routerLink="/dishes" routerLinkActive="active">Gerichte</a></ons-toolbar-button>
        <ons-toolbar-button><a routerLink="/items" routerLinkActive="active">Einkaufsliste</a></ons-toolbar-button>
        <ons-toolbar-button><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></ons-toolbar-button>
      </div>-->
    </ons-toolbar>
    <router-outlet></router-outlet>
  </ons-page>
