<!--
  <ons-page>
  <ons-toolbar>
      <div class="left">
        <ons-toolbar-button>
          <a class="add-new-item" [routerLink]="['./menu']">
            <ons-icon icon="ion-navicon"></ons-icon>
          </a>
        </ons-toolbar-button>
      </div>
      <div class="center">
        <a [routerLink]="['./items']">
        {{title}}
        </a>
      </div>
      <div class="right">
        <ons-button modifier="quiet">
          <a class="add-new-item" [routerLink]="['./addnewitem']">
            New <ons-icon icon="fa-plus-circle" class=""></ons-icon>
          </a>
        </ons-button>
      </div>
    </ons-toolbar>

     <ons-if>
          <ons-fab position="right bottom">
            <a class="add-new-item" [routerLink]="['./addnewitem']">
              <ons-icon icon="md-edit"></ons-icon>
            </a>
          </ons-fab>
        </ons-if>


    <router-outlet></router-outlet>
  </ons-page>-->


 <!--
  <ons-navigator [page]="_slidingPage">
    
  </ons-navigator>

 
			<ons-sliding-menu id="_slidingPage" swipeable="true" [main-page]="_main_page" [menu-page]="_menu_page" side="left" type="overlay" max-slide-distance="200px">
			</ons-sliding-menu>

  <ons-template id="_main_page">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button>
          <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Page 1</div>
    </ons-toolbar>
  </ons-page>
  </ons-template>
  
  <ons-template id="_menu_page">    
  <ons-list>
    <ons-list-item>
      page1.html
    </ons-list-item>
    <ons-list-item>
      page2.html
    </ons-list-item>
  </ons-list>
</ons-template>-->


  <ons-navigator [page]="page">
  </ons-navigator>