<ons-page>
  <h2>Meine Rezepte</h2>
  <div>
      <ons-button type="button" class="new-dish-add" (click)="newDish()" class="">New Dish</ons-button>
      <div *ngIf="added" class="animate-if">
        <form>
          <div>
            <div>
              <label class="left">Name:</label>
              <ons-input modifier="underbar" type="text" placeholder="Type here" (keyup.enter)="newDishName.name=''" placeholder="Type here" [(value)]="dishName" (input)="dishName = $event.target.value; dishService.save()" float></ons-input>
            </div>
            <div>
              <label class="left">Ingredients:</label>
              <ons-input modifier="underbar" type="text" placeholder="Type here" (keyup.enter)="addIngredient(dishName, ingredient)" [(value)]="ingredient" (input)="ingredient = $event.target.value;" float></ons-input>
              <ons-button type="button" (click)="addIngredient(dishName, ingredient); showIngredients(ingredient); ingredient='';">+</ons-button>
            </div>
          </div>
        </form>
          <ons-list>
            <ons-list-item modifier="tappable" *ngFor="let ingredient of _ingredients">
              <span>{{ingredient}}</span>
            </ons-list-item>
          </ons-list>
        <ons-button type="button" (click)="saveButton(); dishName=''">Save</ons-button>
      </div>
    </div> 
  <div>
   <!-- <input #dishName (keyup.enter)="add(dishName.name)" (blur)="add(dishName.name); dishName.name=''"/>
    <button (click)="add(dishName.name); dishName.name=''" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>-->
    <ons-button class="">edit</ons-button>
    <ons-button class="">Add To The List</ons-button>
    <ons-button (click)="dishService.toggleSelect()" class="">{{dishService.selectFunction}}</ons-button>
    <ons-list>
      <ons-list-item modifier="tappable" *ngFor="let dish of dishService.getDishes()">
        <label [attr.for]="'check-' + i" class="left"
          (change)="dishService.toggleSelectCheck()">
          <a [routerLink]="['/detail', dish.name]">{{dish.name}}</a>
       </label>
        <label class="left"  let i = index>
          <input type="checkbox" [attr.input-id]="'check-' + i" [(ngModel)]="dish.add" />
        </label>
        <ons-button modifier="cta" type="button" class="" (click)="delete(dish.name)">-</ons-button>
      </ons-list-item>
    </ons-list>
  </div>
  </ons-page>
  <!--<div *ngIf="selectedDish">
  <h2>
    {{selectedDish.name | uppercase}} is my rezept
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>-->
