<ons-page>
  <h2>Meine Rezepte</h2>
  <div>
      <ons-button type="button" class="new-dish-add" (click)="newDish()" class="">New Dish</ons-button>
      <div *ngIf="added" class="animate-if">
        <form>
          <p>
            <label>Name:</label>
            <ons-input type="text" (keyup.enter)="newDishName.name=''" placeholder="Type here" [(value)]="dishName" (input)="dishName = $event.target.value"></ons-input>
            <label>Ingredients:</label>
            <ons-input type="text" (keyup.enter)="addIngredient(dishName, ingredient)" placeholder="Type here" [(value)]="ingredient" (input)="ingredient = $event.target.value; "></ons-input>
            <ons-button type="button" (click)="addIngredient(dishName, ingredient)">+</ons-button>
            <ons-button type="button" (click)="add(dishName)">Save</ons-button>
          </p>
          <ons-list>
            <ons-list-item *ngFor="let ingredient of _ingredients">
              <span>{{ingredient}}</span>
            </ons-list-item>
          </ons-list>
        </form>
      </div>
  </div> 
  <div>
   <!-- <input #dishName (keyup.enter)="add(dishName.name)" (blur)="add(dishName.name); dishName.name=''"/>
    <button (click)="add(dishName.name); dishName.name=''" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>-->
    <ons-button class="">edit</ons-button>
    <ons-button class="">Add To The List</ons-button>
    <ons-button (click)="dishService.toggleSelect()" class="">{{dishService.selectFunction}}</ons-button>
    <ul>
      <li *ngFor="let dish of dishService.getDishes()">
        <!--<label class="left">  let i = index
          <input type="checkbox" [attr.input-id]="'check-' + i" [(value)]="dish.add" (change)="log(dishes)"/>
        </label>
        <label [attr.for]="'check-' + i" class="center">-->
          <!-- (change)="dishService.toggleSelectCheck()" float -->
          <a [routerLink]="['/detail', dish.name]">{{dish.name}}</a>
        <!--</label>-->
         <!--<button type="button" class="delete btn btn-default" (click)="delete(dish)">
           <span class="glyphicon glyphicon-minus-sign"></span>
         </button>-->
      </li>
    </ul>
  </div>
  </ons-page>
  <!--<div *ngIf="selectedDish">
  <h2>
    {{selectedDish.name | uppercase}} is my rezept
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>-->
